$fork-font-stack: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;

$fork-bg: #a00000 !default;
$fork-padding: 2px 0 !default;
$fork-box-shadow: 0 0 10px 0 #888 !default;
$fork-x-position: -55px !default;
$fork-y-position: 40px !default;

$fork-text-color: #fff !default;
$fork-text-shadow: 0 0 5px #444 !default;
$fork-text-padding: 10px 50px !default;
$fork-text-border: 1px solid #fff !default;

.fork-me {
    position: absolute;
    top: $fork-y-position;
    background: $fork-bg;
    box-shadow: $fork-box-shadow;
    padding: $fork-padding;
    overflow: hidden;
    white-space: nowrap;

    &.fixed {
        position: fixed;
    }

    &.left {
        left: $fork-x-position;
        transform: rotate(-45deg);
    }

    &.right {
        right: $fork-x-position;
        transform: rotate(45deg);
    }

    a {
        display: block;
        font-family: $fork-font-stack;
        color: $fork-text-color;
        border: $fork-text-border;
        padding: $fork-text-padding;
        text-align: center;
        text-decoration: none;
        text-shadow: $fork-text-shadow;

        &:link,
        &:visited,
        &:hover,
        &:focus,
        &:active {
            @extend a;
        }

        // Aid accessibility.
        &:focus {
            text-decoration: underline;
        }
    }
}
