/* line 14, /Users/evandull/dev/fork-me-on-github/scss/_fork.scss */

.fork-me {
  position: absolute;
  top: 40px;
  background: #a00000;
  box-shadow: 0 0 10px 0 #888888;
  padding: 2px 0;
  overflow: hidden;
  white-space: nowrap;
}

/* line 23, /Users/evandull/dev/fork-me-on-github/scss/_fork.scss */

.fork-me.fixed {
  position: fixed;
}

/* line 27, /Users/evandull/dev/fork-me-on-github/scss/_fork.scss */

.fork-me.left {
  left: -55px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 32, /Users/evandull/dev/fork-me-on-github/scss/_fork.scss */

.fork-me.right {
  right: -55px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 37, /Users/evandull/dev/fork-me-on-github/scss/_fork.scss */

.fork-me a {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: white;
  border: 1px solid white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444444;
}

/* line 3, main.scss */

body {
  min-height: 1000px;
}