body {
    color: $white;
    background: $blue;
    font-family: $font-stack;
}

header {
    margin-bottom: rem-calc(20);
    padding: rem-calc(50) 0;
    background: $blue;
    background: linear-gradient(to bottom, $dark-blue 0%, $blue 100%);

    h1 {
        font-family: $font-stack;
    }
}

footer {
    position: relative;
    height: rem-calc(150);
    background: $dark-blue;

    .row,
    .column {
        height: 100%;
    }

    .copyright {
        font-size: rem-calc(12);
        bottom: rem-calc(10);
        @extend .x-center;
    }

    a {
        @extend .xy-center;
        text-decoration: none;
        border-width: 0;
    }
}

h2 {
    margin-top: rem-calc(50);
}

h1,
h2,
h4 {
    font-family: $font-stack;
    font-weight: bold;
    color: $white;
}

h4 {
    border-bottom: 1px solid $white;
    display: inline-block;
}

p {
    font-size: rem-calc(18);
}

a {
    border-bottom: 1px dotted $white;
}

pre {
    background: $black;
    margin-top: rem-calc(20);
    padding: rem-calc(20);
}

pre + ul {
    margin-top: rem-calc(20);
}

code .highlight {
    padding: rem-calc(5);
    color: #000;
    background: rgb(223, 226, 59);
}

.panel > ul:not(#donate) > li:not(:last-child),
.panel > ol > li:not(:last-child) {
    margin-bottom: rem-calc(40);
}

.panel > ol + h4 {
    margin-top: rem-calc(40);
}

.panel > h4 + ol {
    margin-top: rem-calc(20);
}

li p {
    margin-top: rem-calc(15);
}

.panel:first-of-type {
    margin-top: rem-calc(40);
}

.x-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.y-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.xy-center {
    @extend .x-center;
    @extend .y-center;
    transform: translate(-50%, -50%);
}

.fork-me {
    background-color: $black;
}
